#mainhed {
  margin-left: 32%;
  margin-top: 2.5%;
}
#headers {
  border: 3px solid black;
  border-radius: 20px;
  width: 70%;
  margin-left: 5%;
  position: absolute;
  top: 15%;
  box-shadow:
  1px 1px 12px gray,
  -1px -1px 12px gray;
}
#headers li {
    display: inline;
    font-size: 32px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 11.2%;
    padding-right: 11.2%;
    border-radius: 1em;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
#headers>ul>li:hover {
  box-shadow:
  1px 1px 8px gray,
  -1px -1px 8px gray;
}
#vinyl {
  position: absolute;
  top: 30%;
  margin-left: 5%;
  border: 3px solid black;
  border-radius: 20px;
  width: 70%;
  box-shadow:
  1px 1px 12px gray,
  -1px -1px 12px gray;
}
#vinyl li {
  display: inline-block;
}
figure {
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  box-shadow:
  1px 1px 8px gray,
  -1px -1px 8px gray;
}
figure figcaption {
  margin-top: 10px;
  margin-left: 100px;
}
body {
  font-family: helvetica;
}
#auth {
  border: 3px solid black;
  height: 30%;
  width: 21%;
  position: absolute;
  right: 1%;
  top: 15%;
  border-radius: 20px;
  box-shadow:
  1px 1px 12px gray,
  -1px -1px 12px gray;
}
#auth label {
  display: block;
  float: left;
  width: 70px;
  height: 20px;
  margin-top: 12px;
  font-size: 18px;
  margin-left: 30px;
}
#auth input {
  margin-bottom: 3px;
  padding-bottom: 10px;
}
#auth h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
#auth input {
  border-radius: 5px;
}
#auth button {
  background: linear-gradient(white, gray);
  border-radius: 8px;
  font-size: 18px;
  padding: 10px 20px;
  margin-left: 135px;
}
#auth button:hover {
  background: linear-gradient(gray, white);
}
#auth button:active {
  background: radial-gradient(white 50%, gray)
}
#login {
  background-image: url("icons/login.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 6px 10px;
  padding-left: 35px;
  padding-top: 10px;
  font-size: 20px;
}
#passwd {
  background-image: url("icons/password.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 6px 10px;
  padding-left: 35px;
  padding-top: 10px;
  font-size: 20px;
}
